{% extends '@MenuModule/Admin/index.html.twig' %}

{% block title %}Группа / {{ parent() }}{% endblock %}

{% block content %}
    <ul class="nav nav-tabs" id="myTab">
        <li><a href="{{ path('monolith_module.menu.admin') }}">Список всех меню</a></li>
        <li><a href="{{ path('monolith_module.menu.admin_menu', {'id': item.menu.id }) }}">Редактирование меню</a></li>
        <li class="active"><a>Редактирование пункта меню</a></li>
    </ul>

<div class="box box-primary">
    <div class="box-header with-border">

    <form action="{{ path('monolith_module.menu.admin_item', {'id': item.id}) }}" enctype="multipart/form-data" method="post" class="form-horizontal well">
        {{ form_widget(form) }}
        <div class="control-group">
            <div class="controls">
                <button type="submit" name="update" class="btn btn-success"><i class="icon-ok icon-white"></i><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> {{ 'Save'|trans }}</button>
                <button type="submit" name="delete" class="btn btn-danger" onclick="return confirm('Вы уверены, что хотите удалить пункт меню?')"><i class="icon-trash icon-white"></i><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> {{ 'Delete'|trans }}</button>
                <a class="btn btn-default" href="{{ path('monolith_module.menu.admin_menu', {'id': item.menu.id }) }}"> {{ 'Cancel'|trans }}</a>
            </div>
        </div>
    </form>

    </div>
</div>

{% endblock content %}
