
{% block monolith_module_menu_item_tree_widget %}
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple -%}
        {% set required = false %}
    {%- endif -%}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %} style="width: 100%;" class="form-control">
        {%- if placeholder is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>
                {% if choice_translation_domain is not defined %}
                    {% set choice_translation_domain = translation_domain %}
                {% endif %}

                {{ choice_translation_domain is same as(false) ? placeholder : placeholder|trans({}, choice_translation_domain) }}
            </option>
        {%- endif -%}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('monolith_module_menu_item_tree_widget_options') -}}
            {%- if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif -%}
        {%- endif -%}
        {%- set options = choices -%}
        {{- block('monolith_module_menu_item_tree_widget_options') -}}
    </select>
{% endblock %}

{%- block monolith_module_menu_item_tree_widget_options -%}
    {% for group_label, choice in options %}
        {%- if choice is iterable -%}
            <optgroup label="{{ group_label|trans({}, translation_domain) }}">
                {% set options = choice %}
                {{- block('monolith_module_menu_item_tree_widget_options') -}}
            </optgroup>
        {%- else -%}
            <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}
                {% if choice.data.folder is not empty and choice.data.folder.isActive == false %} style="
                    text-decoration: line-through;
                    font-style: italic;
                    color: #b0b0af;
                "{% endif %}>

                {% if choice_translation_domain is not defined %}
                    {% set choice_translation_domain = translation_domain %}
                {% endif %}

                {{ choice_translation_domain is same as(false) ? choice.label : choice.label|trans({}, choice_translation_domain) }}
            </option>
        {%- endif -%}
    {% endfor %}
{%- endblock monolith_module_menu_item_tree_widget_options -%}
